/* CSS Document */

body {
	font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	text-decoration: none;
	text-align: left;
	font-size: 12px;
	color: #808080;
	margin-top: 25px;

}
